body{
    display: grid;
    grid-template-columns: auto auto auto;
}
button{
    font-size: 3em;
    border-radius: 0.5em;
    font-family: cursive, Arial, Helvetica, sans-serif;
    color: white;
    border: 0.1em white solid;
}
.red-button{
    background-color: red;
}
.green-button{
    background-color: green;
}
.blue-button{
    background-color: blue;
}